* {
    margin: 0px;
    padding: 0px;
    font-family: Source Serif Pro;
}

body {
    background-color: #9B6647;
}

#principal {
    padding: 5%;
    background-color: #feece0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPamonha {
    width: 409px;
    height: 293px;
}

#count {
    font-size: 2rem;
    margin: 0.1rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;

}

.info {
    margin-left: 5%;
}

.info h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #59190a;
}

.info p {
    margin: 5px 0px 15px 0px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #59190a;
}

.buttons span {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #9B6647;
}

.buttons button {
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    margin: 0% 2%;
    padding: none;
}

.buttons {
    display: flex;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    color: #feece0;
}

.title-section {
    font-family: Source Serif Pro;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 10px 0px 20px 0px;
    display: flex;
}

.title-section img {
    width: 40px;
    height: 40px;
}

.col1 {
    margin-right: 10%;
}

.list {
    font-size: 1.3rem;
    padding: 2px;
}


